
* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Lobster', cursive;
	color: #000000;
	font-size: 2.5em;
}

body {
	font-size: 16px;
	background-color: #9A26B9;

}

#header-nav{
	border-radius: 0px;


}

.nav-brand {
  color: #B92645;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	border:	1px solid black;
	background-color: #26B99A;
	width: 100%;
	height: auto;
	font-weight: bold;
	font-family: 'Dancing Script', cursive;
	color: black;
	position: relative;
	overflow: auto;
	font-size: 1.2em;
}

#chicken {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #B92645;
}



#sushi {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #B92645;
	
	padding: 5px;
}

#mutton {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #B92645;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#mutton-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #B99A26;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}


